# === BACKEND ===
backend/node_modules/     
backend/.env              
backend/*.env*            
backend/developer.env     

# === FRONTEND ===
frontend/node_modules/    
frontend/.env             
frontend/src/
frontend/*.map            
frontend/*.scss           

# === GENERALES ===
.DS_Store                 
Thumbs.db                 
*.log                     
*.tmp                     
