@use "../util/mixin.scss" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-body{  
    font-family: 'Inter', -apple-system, sans-serif;
    background-color: #0f0f0f;
    height: 100%;
    display: flex;
    flex-direction: column;
    color:#f5f5f5;
    line-height: 1.6;
}